/* Colors */
:root {
  --primary-black: #000;
  --primary-red:#F84646;
  --primary-white:#fff;
}

/* For NAVBAR */
.navbar-toggler {
  color: var(--primary-black) !important;
}

.navbar {
  padding: 15px 25px;
}

.navbar-nav .nav-item a {
  color: var(--primary-black);
  font-size: 1.2rem;
  margin: .2rem;
  font-weight: 500;
}

/* For HEADER */
.navbar-and-header {
  width: 100%;
  height: 100vh;
  background: url(../public/BG-image.png);
  background-size: cover;
  object-fit: contain;
}

.header {
  position: relative;
}

.header .titles {
  width: 100%;
  position: absolute;
  top: 250px;
  left: 150px
}
@media(max-width:768px){
  .header .titles {
    width: 100%;
    position: absolute;
    top: 300px;
    left: 25px
  }
}

.header .titles h1{
  font-size: 55px;
  font-weight: 700;
  color:var(--primary-black)
}

.header .titles .typed{
  font-size: 24px;
  font-weight: 500;
  color:var(--primary-black)
}
/* For Process Management */
.process-management{
  display: flex;
  flex-direction: column;
align-items: center;
}
.process-management .titles{
  width:60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  padding:20px 0;
  text-align: center;
}
.process-management .titles h1{
  color:var(--primary-red)
}
.pm-info{
  width:90%;
  padding:10px 30px;
}
.process-management .pm-info h3{
  font-size: 24px;
  margin:15px 0;
}
.pm-info .card{
  padding:20px 25px;
margin:10px  0 !important;
border:none !important;
border-radius: 20px;
text-align: center;
}
/* For Test */
.test-section{
  background-color: var(--primary-red);
  padding: 20px 15px;
  color:var(--primary-white);
  display:flex;
  flex-direction: column;
  align-items: center;
}
.test-section .titles {
  width: 100%;
  text-align: center;
  margin:20px 0;
}

.test-section .cards{
  width:80%;
  margin:20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-section .cards p{
  margin:20px 15px;
}
.test-section .card-item{
  display: flex;
  align-items: center;
  justify-content: center;
}